<main id="content">

      
   

<form action="{{next}}">
    
<header>
  <h1>Your car driving licence has been stopped</h1>
</header>
    
<p>Your car driving licence has been stopped. This is because you have suffered recurrent and severe attacks of hypoglycaemia within the last 12 months.

<p>You can <a href="https://www.gov.uk/reapply-driving-licence-medical-condition">reapply</a> for your licence if you don't have any attacks in the next 12 months.</p>

<p>Send your driving licence to:</p>

<p>
Vehicle customer services
<br><abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>
<br>Swansea
<br>SA99 1AR
<br></p>

<p>If your circumstances have changed you can <a href="#">appeal</a> the decision.</p>

<section class="complete-section">
              <h3>Staying mobile</h3>
              <p>You maybe entitled to free off-peak travel on local buses anywhere in England, <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">check if you qualify</a> for a bus pass.</p>
              <p>Many areas have <a href="https://www.gov.uk/community-transport-services-shopmobility">community transport</a> services for people who have difficulty using public transport.</p>
            </section>

  </form>

 </main>

