<main id="content">

<div id="main">
      <section id="content" class="content">
        <div class="inner-block">
          <div class="step">
            <div class="reference-number-wrap highlighted">
              <h2><i class="icon-ok"></i><span>Thank you for telling us</span></h2>
              <div class="pre-title">Your reference number is</div>
              <div class="reference-number">HDJ2123FJ</div>
            </div>
            <section class="complete-section first">
              <p class="email-confirmation"><i class="icon-envelope-alt"></i><span>We have sent you a confirmation email.</span></p>
            </section>
            <section class="complete-section">
              <h3>Your licence</h3>
              <p>You'll need to reapply for your driving licence every 3 years.</p><p>You can <a href="https://www.gov.uk/driving-medical-conditions/renewing-or-reapplying-for-your-licence">reapply for your licence</a> 8 weeks before it's due to expire.</p>
            </section>
            <section class="complete-section"><p><a href="https://www.gov.uk/voting-in-the-uk">Tell DVLA about another medial condition</a></p>

            </section>
          </div>
        </div>
      </section>
    </div>

       

     



    </main>