<main id="content">

<div id="main">
      <section id="content" class="content">
        <div class="inner-block">
          <div class="step">
            <div class="reference-number-wrap highlighted">
              <h2><i class="icon-ok"></i><span>Thank you for telling us</span></h2>
              <div class="pre-title">Your reference number is</div>
              <div class="reference-number">HDJ2123F</div>
            </div>
            <section class="complete-section first">
              <p class="email-confirmation"><i class="icon-envelope-alt"></i><span>We have sent you a confirmation email.</span></p>
            </section>
            <section class="complete-section">
              <h3>What happens next?</h3>
              <p>DVLA will now contact your doctor to see if your medical condition affects your ability to drive.</p>
              <p>DVLA will tell you as soon as Richmond Road Surgery replies, this should be within 6 weeks. You can keep driving while you wait for the reply, as long as you feel safe doing so.</p>
            </section>
            <section class="complete-section"><p><a href="https://www.gov.uk/voting-in-the-uk">Tell DVLA about another medial condition</a></p>

            </section>
          </div>
        </div>
      </section>
    </div>

       

     



    </main>