<main id="content">

      
   

<form action="{{next}}">
    

    


 <a class="back-to-previous" href="/drivers-details">
    <i class="fa fa-angle-left"></i>
    Back <span class="visuallyhidden"> to the previous question</span>
</a> 

<header>
  <h1>What do you treat your patients diabetes with?</h1>
</header>
    

    <fieldset class="validate " data-validation-name="country" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="england scotland wales northernIreland britishIslands abroad">

        <label class="selectable">
            <input type="radio" name="expected" value="Yes" class="radio"{{choice_1}}>
            Diet
        </label>
        <label class="selectable">
            <input type="radio" name="expected" value="No" class="radio"{{choice_2}}>
            Tablets
        </label>
        <label class="selectable">
            <input type="radio" name="expected" value="Yes" class="radio"{{choice_1}}>
            Insulin injection
        </label>
        <label class="selectable">
            <input type="radio" name="expected" value="No" class="radio"{{choice_2}}>
            Insulin pump
        </label>
        <label class="selectable">
            <input type="radio" name="expected" value="No" class="radio"{{choice_2}}>
            Other non injectable
        </label>
    </fieldset>

    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">
        Continue
    </button>

  </form>

 </main>
