<main id="content">

  <form action="{{next}}">
    <header class="question-one">
     <h1>How is your diabetes treated?</h1>
    </header>

    

    <fieldset class="validate " data-validation-name="country" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="england scotland wales northernIreland britishIslands abroad">

        <label class="selectable">
            <input type="radio" name="diabetes-treatment" value="Tablets" class="radio"{{choice_1}}>
            Tablets
        </label>
        <label class="selectable">
            <input type="radio" name="diabetes-treatment" value="Insulin injection" class="radio"{{choice_2}}>
            Insulin injection
        </label>
         <label class="selectable">
            <input type="radio" name="diabetes-treatment" value="Northern Ireland" class="radio"{{choice_3}}>
            Insulin pump
        </label>
        <label class="selectable">
            <input type="radio" name="diabetes-treatment" value="Northern Ireland" class="radio"{{choice_4}}>
            Other non injectable
        </label>
    </fieldset>

    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">
        Continue
    </button>

  </form>

 </main>
