<main id="content">

      
   

<form action="{{next}}">
    

    


 <a class="back-to-previous" href="/hypoglycaemia">
    <i class="fa fa-angle-left"></i>
    Back <span class="visuallyhidden"> to the previous question</span>
</a> 

<header>
  <h1>Check your details</h1>
</header>
    
<p class="driver-number">
    <span class="bold-title">Driver number</span><br>
    <span class="postcode">E8 3LL</span>
    <a href="/register-to-vote/address" class="change-postcode-button">
        Change<span class="visuallyhidden"> your postcode</span>
    </a>
</p>

<p><span class="bold-title">Full name</span><br>
    <span class="postcode">Amy Whitney</span></p>

<p><span class="bold-title">Date of birth</span><br>
    <span class="postcode">14 November 1989</span></p>

<p><span class="bold-title">Address</span><br>
    <span class="postcode">142 Mapledene Road<br>London<br>E8 3LL</span>
    </p>
<p><a href="/register-to-vote/address" class="change-postcode-button">
        Update your details<span class="visuallyhidden"> your postcode</span>
    </a></p>



    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">
        Continue
    </button>

  </form>

 </main>


