<main id="content">

      
   

<form action="{{next}}">
    

    


 <a class="back-to-previous" href="/drivers-number">
    <i class="fa fa-angle-left"></i>
    Back <span class="visuallyhidden"> to the previous question</span>
</a> 

<header>
  <h1>Check your details</h1>
</header>
    
<p class="driver-number">
    <span class="bold-title">Driver number</span><br>
    <span class="postcode">E8 3LL</span>
    <a href="/register-to-vote/address" class="change-postcode-button">
        Change<span class="visuallyhidden"> your postcode</span>
    </a>
</p>

 <div class="confirmation">
        <div>
          <h3>Full name</h3>
          <div class="data-wrap">
            <p>Amy Whitney</p>
          </div>
        </div>
         <div>
          <h3>Date of birth</h3>
          <div class="data-wrap">
            <p>14 November 1989</p>
          </div>
        </div>
         <div>
          <h3>Address</h3>
          <div class="data-wrap">
            <p>142 Mapledene Road<br>London<br>E8 3LL</p>
          </div>
        </div>
        <div>
    <p><a href="/register-to-vote/address" class="change-postcode-button">
        Update your details<span class="visuallyhidden"> your postcode</span>
    </a></p>
</div> 
</div>

<h3 class="email">
            Email address
        </h3>
        <div class="validation-wrapper ">
            <input type="text" id="name_firstName" name="name.firstName" value="" autocomplete="off" class="text first-name long validate " data-validation-name="firstName" data-validation-type="field" data-validation-rules="nonEmpty firstNameText">
        </div>
   

    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">
        Continue
    </button>

  </form>

 </main>


