<main id="content">

      
   

<form action="{{next}}">
<header>
  <h1>What is your drivers number?</h1>
</header>
    

    <div class="validation-wrapper ">
        <input type="text" id="NINO_NINO" name="NINO.NINO" value="" autocomplete="off" class="text  validate nino " data-validation-name="ninoCode" data-validation-type="field" data-validation-rules="nonEmpty nino">
    </div>

    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">
        Continue
    </button>

  </form>

 </main>


