<main id="content">

      
   

<form action="{{next}}">
<header>
  <h1>What is your drivers number?</h1>
</header>
    

    <div class="validation-wrapper ">
        <input type="text" id="NINO_NINO" name="NINO.NINO" value="" autocomplete="off" class="text  validate nino " data-validation-name="ninoCode" data-validation-type="field" data-validation-rules="nonEmpty nino">
    </div>

    <details>
            <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="false"><span class="summary">Help with your drivers number</span></summary>
            <div class="panel-indent" id="details-content-0" aria-hidden="true">
              <p>
                Your driving licence number can be found in section 5 of your driving licence photocard.
              </p>
            </div>
     </details>

    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">
        Continue
    </button>

  </form>

 </main>


