<main id="content">

      

      <article>
        <header>
          <h1 class="finalheader">Check your details are correct before submitting them</h1>
        </header>

    <div class="confirmation">
        <div>
          <h3>What do you treat your diabetes with?</h3>
          <div class="data-wrap">
             
              <p>
    Tablets
</p>
            
          </div>
          <a href="/death-location?edit=yes" class="change">Change<span class="visuallyhidden"> name</span></a>
        </div>
        <div>
          <h3>What is your drivers number?</h3>
          <div class="data-wrap">
             
                
                  <p>4637820390</p>
                
            
          </div>
          <a href="/death-occur?edit=yes" class="change">Change<span class="visuallyhidden"> previous name</span></a>
        </div>

         <div>
          <h3>Full name</h3>
          <div class="data-wrap">
             
              
                <p>Amy Whitney</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

            <div>
          <h3>Address</h3>
          <div class="data-wrap">
             
              
                <p>142 Mapledene Road<br>London<br>E8 3LL</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

              <div>
          <h3>Email</h3>
          <div class="data-wrap">
             
              
                <p>hello@amywhitney.co.uk</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

        <div>
          <h3>Have you ever had an episode of hypoglycemia?</h3>
          <div class="data-wrap">
             
              
                <p>Yes</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>
        <div>
          <h3>Have you had more than one episode of severe hypoglycemia?</h3>
          <div class="data-wrap">
             
              
                <p>No</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

           <div>
          <h3>Do you get warning symptons of hypoglycemia?</h3>
          <div class="data-wrap">
             
              
                <p>Yes</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

            <div>
          <h3>Do you always get warning hypoglycemia?</h3>
          <div class="data-wrap">
             
              
                <p>Yes</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

        <div>
          <h3>Person who treats you address</h3>
          <div class="data-wrap">
             
              
                <p>Richmond Road Surgery<br>London<br>E8 4TR</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

        <div>
          <h3>Can you read a car numberplate from 20 meters away in good light, with contact lenses or glasses if worn?</h3>
          <div class="data-wrap">
             
              
                <p>Yes</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

        <div>
          <h3>Has your doctor or optician told you that your eyesight isn't good enough to drive?</h3>
          <div class="data-wrap">
             
              
                <p>No</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

        <div>
          <h3>Do you need to wear glasses or contact lenses when you are driving?</h3>
          <div class="data-wrap">
             
              
                <p>Yes</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

        <div>
          <h3>Do you need special controls or automatic controls when you drive?</h3>
          <div class="data-wrap">
             
              
                <p>No</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>


      </div>

<div class="declare">
      <div class="application-notice help-notice">
<p>I understand that:</p>
<p>If I knowingly give false information, I could be fined up to £1,000.</p>
<p>My doctors, specialists and the sectary of state are able to provide information about my medical condition.</p>

</div>

<div>
  <p>
          <a rel="nofollow" href="/complete" class="big button">I accept - tell DVLA</a>
</p>
</div>
</div>
        
      </article>

    </main>