<main id="content">

      

      <article>
        <header>
          <h1 class="finalheader">Check your details are correct before submitting them</h1>
        </header>

    <div class="confirmation">
        <div>
          <h3>Diabetes treatment</h3>
          <div class="data-wrap">
             
              <p>
    Insulin pump
</p>
            
          </div>
          <a href="/death-location?edit=yes" class="change">Change<span class="visuallyhidden"> name</span></a>
        </div>
        <div>
          <h3>Hypoglycaemia episode in the last 12 months</h3>
          <div class="data-wrap">
             
                
                  <p>Yes</p>
                
            
          </div>
          <a href="/death-occur?edit=yes" class="change">Change<span class="visuallyhidden"> previous name</span></a>
        </div>
        <div>
          <h3>Warning signs of hypoglycaemia</h3>
          <div class="data-wrap">
             
              
                <p>No</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>
        <div>
          <h3>Do you drive a vehicle with special controls?</h3>
          <div class="data-wrap">
             
              
                <p>No</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>
           <div>
          <h3>Has your doctor or opitician advised you that your eyesight isn't good enough to drive?</h3>
          <div class="data-wrap">
             
              
                <p>Yes</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

           <div>
          <h3>Driver number</h3>
          <div class="data-wrap">
             
              
                <p>4637820390</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>


             <div>
          <h3>Full name</h3>
          <div class="data-wrap">
             
              
                <p>Amy Whitney</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

            <div>
          <h3>Address</h3>
          <div class="data-wrap">
             
              
                <p>142 Mapledene Road<br>London<br>E8 3LL</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

              <div>
          <h3>Email</h3>
          <div class="data-wrap">
             
              
                <p>hello@amywhitney.co.uk</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>

              <div>
          <h3>Who treats you</h3>
          <div class="data-wrap">
             
              
                <p>Dr Ahmed</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>


        <div>
          <h3>Person who treats you address</h3>
          <div class="data-wrap">
             
              
                <p>Richmond Road Surgery<br>London<br>E8 4TR</p>
              
              
            
          </div>
          <a href="/expected?edit=yes" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>


      </div>

<div class="declare">
      <div class="application-notice help-notice">
<p>I understand that:</p>
<p>If I knowingly give false information, I could be fined up to £1,000.</p>
<p>My doctors, specialists and the sectary of state are able to provide information about my medical condition.</p>

</div>

<div>
  <p>
          <a rel="nofollow" href="/death-location" class="big button">I accept - tell DVLA</a>
</p>
</div>
</div>
        
      </article>

    </main>