<main id="content">

      
   

<form action="{{next}}">
    

    


 <a class="back-to-previous" href="/diabetes-treatment">
  <i class="fa fa-angle-left"></i>
  Back <span class="visuallyhidden"> to the previous question</span></a> 

<header>
  <h1>What type of licence do you have?</h1>
</header>

   <fieldset class="validate " data-validation-name="country" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="england scotland wales northernIreland britishIslands abroad">
        

        <label class="selectable">
            <input type="radio" name="death_occur" value="home_or_hospital" class="radio"{{choice_1}}>
            I don't have a licence yet
        </label>
        <label class="selectable">
            <input type="radio" name="death_occur" value="home_or_hospital" class="radio"{{choice_1}}>
            Car or motorcycle licence
        </label>
        <label class="selectable">
            <input type="radio" name="death_occur" value="elsewhere" class="radio"{{choice_2}}>
            Bus, coach or lorry licence
        </label>
    </fieldset>    


      </div>
    </div>
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="nationality">Continue</button>
    
</form>


    </main>