<main id="content">

      
   

<form action="/doctors-details">
    

    


 <a class="back-to-previous" href="/vision3">
    <i class="fa fa-angle-left"></i>
    Back <span class="visuallyhidden"> to the previous question</span>
</a> 

<header>
  <h1>Find your GP</h1>
</header>

    <fieldset id="surgery-location">
        <label for="address_postcode">
            Postcode
        </label>
        <div class="validation-wrapper ">
            <input type="text" id="address_postcode" name="postcode" value="" autocomplete="off" class="text postcode medium validate " data-validation-name="postcode" data-validation-type="field" data-validation-rules="nonEmpty postcode">
        </div>
    </fieldset>
    
   <button id="find-address" type="submit" class="button next validation-submit" data-validation-sources="postcode">
            Find your GP
        </button>

  </form>

 </main>
